body {
  background: whitesmoke;
}

#bootstrap-overrides .sidebar_links>a {
  padding: 0 0 0 30px;
  font-size: .9em;
}

#bootstrap-overrides .sidebar_links>a:hover {
  background: #cccccc;
  color: black;
}

.menu-heading {
  position: relative;
  background: #b3d4fc;
  font-size: 1.3em;
  padding: 4px 0 5px 10px;
  cursor: default;
}

a.list-group-item {
  text-decoration: none;
  border-bottom: none;
  margin-right: 0;
  padding-right: 0;
}

li a {
  color: black;
}

li a:hover {
  color: black;
  cursor: default;
}

.tab-content {
  padding-left: 30px;
  background: white;
  border: 1px solid #dee2e6;
}

a.nav-link.active {
  /*border: none !important;*/
  padding-bottom: 3px;  /* increase the padding for a thinner active tab underline color, decrease for thicker */
  font-weight: bold;
  font-style: italic;
  border: 1px solid black !important;
  border-bottom: none !important;
}
